<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:remove="all">Order Confirmation</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div>
    <h1>
        Order Number: <span th:text="${order.id}"> </span>
    </h1>
    <p>
        Instant: <span
            th:text="${#dates.format(order.date, 'dd/MM/yyyy hh:mm')}"></span>
    </p>
    <p>
        Client: <span th:text="${order.client.id}"></span>
    </p>
    <p>
        PAyment Status: <span
            th:text="${order.payment.state}"></span>
    </p>
    <h3>Details:</h3>
    <table border="1">
        <tr>
            <th>Product</th>
            <th>Amount</th>
            <th>Price</th>
            <th>Subtotal</th>
        </tr>
        <tr th:each="item : ${order.orderItems}">
            <td th:text="${item.product.name}">name</td>
            <td th:text="${item.amount}">amount</td>
            <td th:text="${#numbers.formatDecimal(item.price, 0, 'POINT', 2,
'COMMA')}">price</td>
            <td th:text="${#numbers.formatDecimal(item.subTotal, 0, 'POINT', 2,
'COMMA')}">subTotal</td>
        </tr>
    </table>
    <p>
        total: <span th:text="${#numbers.formatDecimal(order.OrderValueTotal(), 0,
'POINT', 2, 'COMMA')}"></span>
    </p>
</div>
</body>
</html>